<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movies">
        <activity
            android:name=".BottomNavigationActivities.MoreActivities.CollectionActivity"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationActivities.MoreActivities.WatchListActivity"
            android:exported="true" />
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".TVshow_Search"
            android:exported="true"
            android:parentActivityName=".BottomNavigationActivities.Search" />
        <activity
            android:name=".Movies_Search"
            android:exported="true"
            android:parentActivityName=".BottomNavigationActivities.Search" />
        <activity
            android:name=".MoviesCompleteList"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationActivities.FavActivity"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationActivities.Search"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDescription"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>